---
import CopyIcon from "./icons/Copy.astro";
interface Props {
  message: string;
  bankDetails: {
    bankName: string;
    accountNumber: string;
    accountHolder: string;
  };
}

const {
  message,
  bankDetails: { bankName, accountNumber, accountHolder },
} = Astro.props;

const formattedAccountNumber = accountNumber.replace(/[^0-9]/g, "");
---

<div class="bankaccount-container">
  <h2>Cuenta bancaria</h2>

  <p>{message}</p>

  <div class="bankaccount-content hidden">
    <p class="bankaccount-info">
      <span>{bankName}</span>
    </p>
    <a
      href="javascript: void(0)"
      id="account-number"
      class="bankaccount-info"
      data-account-number={formattedAccountNumber}
    >
      {accountNumber}
      <CopyIcon />
    </a>
    <p class="bankaccount-info">{accountHolder}</p>
  </div>

  <button>Ver datos bancarios</button>
</div>

<style>
  /* MOBILE STYLES */
  .bankaccount-container {
    margin: 3rem auto 0 auto;
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
  }

  .bankaccount-container > h2 {
    margin: 0 auto;

    font-size: var(--text-size-lg);
    font-weight: 600;
    color: var(--color-text-dark);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    max-width: 50%;
    text-wrap: balance;
  }

  .bankaccount-container > p {
    margin: 1rem auto;

    font-weight: 400;
    font-size: var(--text-size-md);
    color: var(--color-text-dark);

    max-width: 70%;
    text-wrap: pretty;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .bankaccount-content {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 70%;
    height: 100%;

    font-size: var(--text-size-md);
    line-height: 2;

    opacity: 1;
    transition: all 0.3s ease;
  }

  .bankaccount-content.hidden {
    height: 0.01%;
    opacity: 0;
    font-size: 0;
    pointer-events: none;
  }

  .bankaccount-info {
    margin: 0 auto;

    font-weight: 400;
    color: var(--color-text-dark);
    text-transform: uppercase;
    letter-spacing: 0.02em;

    text-decoration: none;
  }

  .bankaccount-info span {
    font-weight: 700;
    letter-spacing: 0.1rem;
  }

  #account-number {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;

    cursor: pointer;
    transition: transform 0.2s ease;
  }

  #account-number:hover {
    transform: scale(1.05);
  }

  .bankaccount-container button {
    margin: 1rem auto 0 auto;
    padding: 1rem 2rem;

    font-size: var(--text-size-md);
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-text-light);

    border: none;
    border-radius: 10px;
    cursor: pointer;

    background-color: var(--color-dark);
    transition: all 0.3s ease;

    height: 100%;
    opacity: 1;
  }

  .bankaccount-container button:hover {
    background-color: var(--color-secondary);
  }
</style>

<script>
  const $CONTENT = document.querySelector(
    ".bankaccount-content",
  ) as HTMLDivElement;
  const $BUTTON = document.querySelector(
    ".bankaccount-container button",
  ) as HTMLButtonElement;
  const $ACCOUNT_NUMBER = document.getElementById(
    "account-number",
  ) as HTMLParagraphElement;

  $BUTTON.addEventListener("click", () => {
    $CONTENT.classList.toggle("hidden");
  });

  $ACCOUNT_NUMBER?.addEventListener("click", async () => {
    const accountNumber = $ACCOUNT_NUMBER.dataset.accountNumber || "";
    if (!accountNumber) return;

    try {
      await navigator.clipboard.writeText(accountNumber);
    } catch (error) {
      console.error("Error al copiar al portapapeles:", error);
      return;
    }
  });
</script>
