---
import PinIcon from "./icons/Pin.astro";
interface Props {
  name: string;
  time: string;
  place: string;
  address: string;
  mapLink: string;
  image: string;
  imagePosition: "left" | "right";
}

const {
  name,
  time,
  place,
  address,
  mapLink,
  image,
  imagePosition = "left",
} = Astro.props;
---

<div class="event-details-container">
  <picture hidden={imagePosition === "left"}>
    <img src={image} alt={name} />
  </picture>

  <section>
    <h2>{name}</h2>

    <div class={`event-details-info`}>
      <p class="event-info-text">{place}</p>
      <p class="event-info-time">{time} hrs.</p>
      <p class="event-info-text">{address}</p>
    </div>

    <a href={mapLink} target="_blank" rel="noopener noreferrer">
      <PinIcon />
      Ver Ubicación</a
    >
  </section>

  <picture hidden={imagePosition === "right"}>
    <img src={image} alt={name} />
  </picture>
</div>

<!-- MOBILE STYLES -->
<style>
  .event-details-container {
    width: 100%;
    margin: 2rem auto 3rem auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  picture {
    width: 48%;
    height: 260px;
    overflow: hidden;
    position: relative;

    border-radius: 100px;
  }

  picture img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
  }

  section {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 0 1rem 0;

    color: var(--color-dark);
    letter-spacing: 0.02em;
  }

  section h2 {
    margin: 0;

    font-family: var(--font-secondary);
    font-size: var(--text-size-xl);
    font-weight: 800;

    text-align: center;
  }

  .event-details-info {
    height: 100%;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 0.2rem;
  }

  .event-info-text {
    margin: 0;

    font-size: 0.9rem;
    line-height: 1.2;
    text-wrap: balance;
  }

  .event-info-time {
    margin: 0.5rem 0;

    font-weight: 600;
  }

  section a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0.5rem 1rem;
    border-radius: 10px;

    color: var(--color-light);
    font-size: var(--text-size-xs);
    text-decoration: none;
    display: inline-flex;

    transition: background 0.3s ease;
    background: var(--color-dark);
    z-index: 2;
  }

  section a:hover {
    background: var(--color-dark-hover);
  }

  @media (min-width: 768px) {
    .event-details-container {
      margin: 3rem auto 4rem auto;
      gap: 2rem;
    }

    picture {
      width: 30%;
      height: 500px;

      border-radius: 180px;
    }

    section {
      width: 30%;
      margin: 4rem 0;
    }

    section h2 {
      font-size: var(--text-size-2xl);
    }

    .event-details-info {
      gap: 0.5rem;
      justify-content: flex-start;
      margin: 2rem 0 0 0;
    }

    .event-info-text {
      font-size: var(--text-size-md);
    }

    .event-info-time {
      font-size: var(--text-size-md);
    }

    section a {
      font-size: var(--text-size-sm);
      padding: 0.75rem 1.5rem;
    }
  }
</style>
