---
import { dateForCalendar } from "../utils/formatDates";
interface Props {
  text: string;
  startDate: Date;
  endDate: Date;
  details: string;
  location: string;
  filename: string;
}
const { text, startDate, endDate, details, location, filename } = Astro.props;

const encodedText = encodeURIComponent(text);
const formattedStartDate = dateForCalendar(startDate);
const formattedEndDate = dateForCalendar(endDate);
const encodedDetails = encodeURIComponent(details);
const encodedLocation = encodeURIComponent(location);

const googleCalendarUrl = `https://www.google.com/calendar/render?action=TEMPLATE&text=${encodedText}&dates=${formattedStartDate}/${formattedEndDate}&details=${encodedDetails}&location=${encodedLocation}`;
---

<div class="schedule-container">
  <a
    id="link-ios"
    href="/api/schedule"
    download={`${filename}.ics`}
    class="schedule-link">Agendar recordatorio</a
  >

  <a
    id="link-google"
    href={googleCalendarUrl}
    target="_blank"
    rel="noopener"
    class="schedule-link"
  >
    Agendar recordatorio
  </a>
</div>

<style>
  .schedule-container {
    width: 100%;
    text-align: center;
    margin: 2rem auto;
  }

  .schedule-link {
    display: none;

    padding: 1rem 2rem;
    background: var(--color-dark);
    color: var(--color-text-light);

    text-decoration: none;
    font-size: var(--text-size-md);
    font-weight: 500;
    text-transform: uppercase;

    border-radius: 10px;
    transition: background 0.3s ease;
  }

  .schedule-link:hover {
    background: var(--color-dark-hover);
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 1024px) {
    .schedule-link {
      padding: 1rem 3rem;
    }
  }
</style>

<script>
  const isIOS = /iPad|iPhone|iPod/g.test(navigator.userAgent);

  const ANCHOR_IOS = document.querySelector("#link-ios") as HTMLAnchorElement;
  const ANCHOR_GOOGLE = document.querySelector(
    "#link-google",
  ) as HTMLAnchorElement;

  if (isIOS) {
    ANCHOR_IOS.style.display = "inline-block";
  } else {
    ANCHOR_GOOGLE.style.display = "inline-block";
  }
</script>
