---
import { dateToCalendarRSVP } from "../utils/formatDates";
interface Props {
  text: string;
  startDate: Date;
  endDate: Date;
  details: string;
  location: string;
  filename: string;
}
const { text, startDate, endDate, details, location, filename } = Astro.props;

const encodedText = encodeURIComponent(text);
const formattedStartDate = dateToCalendarRSVP(startDate);
const formattedEndDate = dateToCalendarRSVP(endDate);
const encodedDetails = encodeURIComponent(details);
const encodedLocation = encodeURIComponent(location);

const googleCalendarUrl = `https://www.google.com/calendar/render?action=TEMPLATE&text=${encodedText}&dates=${formattedStartDate}/${formattedEndDate}&details=${encodedDetails}&location=${encodedLocation}`;
---

<div class="schedule-container">
  <a
    id="link-ios"
    href="/api/schedule"
    download={`${filename}.ics`}
    class="schedule-link">Agendar recordatorio</a
  >

  <a
    id="link-google"
    href={googleCalendarUrl}
    target="_blank"
    rel="noopener"
    class="schedule-link"
  >
    Agendar recordatorio
  </a>
</div>

<style>
  .schedule-container {
    width: 100%;
    text-align: center;
    margin: 2rem auto;
  }

  .schedule-link {
    display: none;

    padding: 1rem 2rem;
    background: var(--color-dark);
    color: var(--color-light);

    text-decoration: none;
    font-size: var(--text-size-md);
    font-weight: 500;
    text-transform: uppercase;

    border-radius: 10px;
    transition: all 0.2s ease;
  }

  .schedule-link:hover {
    background: var(--color-dark-hover);
  }

  @media (min-width: 576px) {
  }

  @media (min-width: 1024px) {
    .schedule-link {
      padding: 1rem 3rem;
    }

    .schedule-link:hover {
      transform: scale(1.05);
    }
  }
  @media (min-width: 1440px) {
    .schedule-container {
      margin: 3rem auto;
    }
  }
</style>

<script>
  const isIOS = /iPad|iPhone|iPod/g.test(navigator.userAgent);

  const $SCHEDULE_CONTAINER = document.querySelector(
    ".schedule-container",
  ) as HTMLDivElement;
  const $ANCHOR_IOS_HTML = $SCHEDULE_CONTAINER.querySelector(
    "#link-ios",
  ) as HTMLAnchorElement;
  const $ANCHOR_GOOGLE_HTML = $SCHEDULE_CONTAINER.querySelector(
    "#link-google",
  ) as HTMLAnchorElement;

  if (isIOS) {
    $ANCHOR_IOS_HTML.style.display = "inline-block";
  } else {
    $ANCHOR_GOOGLE_HTML.style.display = "inline-block";
  }
</script>
